{% extends 'base.html' %}
{% load static %}

{% block title %} Zmiana hasła - podaj nowe hasło {% endblock %}

{% block css-links %}
    <link rel="stylesheet" href="{% static 'main/css/forms.css' %}">
{% endblock %}

{% block content %}

{% if validlink %}

<h1>Ustaw nowe hasło!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Zmień hasło">
</form>

{% else %}

<p>Niestety, ale jest to nieprawidłowy link; prawdopodobnie wygasł bądź został już zużyty. Wygeneruj nowy.</p>

{% endif %}

{% endblock %} 