{% extends 'base.html' %}
{% load static %}

{% block css-links %}
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block js-links %}
    
{% endblock %}

{% block title %} Aktywacja konta {% endblock %}

{% block top-content %}

{% endblock %}

{% block content %}

<h1> 
    Musisz aktywować swoje konto
</h1>

<h2>
    Na podany przez Ciebie adres e-mail został wysłany link aktywacyjny. Dopiero po aktywowaniu konta będziesz mógł się na nie zalogować i korzystać z serwisu.
</h2>

{% endblock %}